{% extends 'mail/layout.html' %}
{% load static %}

{% block body %}
<input id="id" type="hidden" value="{{email.id}}"/>
<input id="sender" type="hidden" value="{{email.sender}}"/>
<input id="subject" type="hidden" value="{{email.subject}}"/>
<input id="body" type="hidden" value="{{email.body}}"/>
<input id="user" type="hidden" value="{{email.user}}"/>
<input id="archived" type="hidden" value="{{email.archived}}"/>
<input id="recipients" type="hidden" value="{{recipients}}"/>
<div id="emailDesc" style="margin:0;padding:0;position:relative;"></div>
<script type="text/babel">
    const Email=()=>{
        const [email,setEmail]=React.useState({
            id:0,
            sender:"",
            subject:"",
            body:"",
            isToMeOnly:false,
            recipients:"",
            isMine:false,
            isArchived:false,
        })
        React.useEffect(()=>{
            const subject=document.querySelector("#subject").value;
            const id=document.querySelector("#id").value;
            const body=document.querySelector("#body").value;
            const sender=document.querySelector("#sender").value;
            const isArchived=document.querySelector("#archived").value;
            const user=document.querySelector("#user").value;
            const recipients=document.querySelector("#recipients").value;
            setEmail({
                id:id,
                sender:sender,
                subject:subject,
                body:body,
                isToMeOnly:(user==recipients.trim()),
                recipients:recipients.split(" "),
                isMine:(user==sender),
                isArchived:isArchived.toLowerCase(),
            })
            
        },[])
        const sendRequest=(task,status=false)=>{
            if(task==="go_home"){
                history.pushState({mailbox:"inbox"},"","/");
                location.reload();
            }else if(task==="reply"){
                history.pushState({mailbox:"compose",recipient:email["sender"],subject:email["subject"]},"","/");
                location.reload();
            }else if(task==="archive"){
                if(status){
                    setEmail(
                        {
                            ...email,
                            isArchived:false,
                        }
                    );
                    fetch(`/emails/${email["id"]}`, {
                        method: 'PUT',
                        body: JSON.stringify({
                            archived: false
                        })
                    })
                }else{
                    setEmail(
                        {
                            ...email,
                            isArchived:true,
                        }
                    )
                    fetch(`/emails/${email["id"]}`, {
                        method: 'PUT',
                        body: JSON.stringify({
                            archived: true
                        })
                    })
                }
            }
        }
        const styleDiv={
            position: "relative",
            top:"0",
            left:"0",
            display:"flex",
            flexDirection:"column"
        }
        const buttonsStyling={
            display:'flex',
            width:'70px',
            alignItems:'center',
            justifyContent:'space-between'
        }
        const replyBtnStyle={
            padding:"4px",
            border: "0px solid rgb(255, 255, 255)",
            color: "rgb(255, 255, 255)",
            borderRadius: "17px",
            backgroundColor: "rgb(193, 7, 255)",
        }
        const archiveBtnStyle={
            padding:"4px",
            border: "0px solid rgb(255, 255, 255)",
            color: "rgb(255, 255, 255)",
            borderRadius: "17px",
            backgroundColor: "rgb(255, 193, 7)",
        }
        const styleDivHeader={display:"flex",width:"100%",borderBottom:"1px solid #aaa",alignItems:"center",justifyContent:"space-between"}
        const subjectStyle={
            textAlign:"center",
            borderBottom:"1px solid grey"
        }
        const recipientsStyle={
            marginLeft:"10px",
            marginTop:"10px",
            padding:"5px",
            color:"rgb(85, 85, 255)"
        }
        const bodyStyle={color:"#000",fontSize:"18px",fontWeight:"700",marginLeft:"13px", }
        const bodyStyleDiv={
            marginTop:"13px",
            marginLeft:"13px",
            backgroundColor:"#ccc",
            borderRadius:"5px",
            padding:"15px"

        }
        const backBtnClass='btn btn-primary'
        const bodySection={
            marginTop:"20px",
            padding:"10px",
            backgroundColor:"#eee"
        }
        const content={
            display:"inline-block",
            width:"100%",
            minHeight:"10pip0%",
            height:"100%"
        }
        return(
            <div style={styleDiv}>
                <div id="header" style={styleDivHeader}>
                    <div id="back-btn" onClick={()=>sendRequest("go_home")} className={backBtnClass}><i class="fa-solid fa-caret-left"></i> Back to MailBox</div>
                    
                    <div>{email["isMine"] ? <h1>My Sent Message</h1>:<h1>From: {email.sender}</h1>}</div>
                    <div>{!email["isMine"] && <div style={buttonsStyling}><div id="replyBtn" style={replyBtnStyle} onClick={()=>sendRequest("reply")}><abbr title="reply"><i class="fa-solid fa-reply"></i></abbr></div><div id="archiveBtn" style={archiveBtnStyle} onClick={()=>sendRequest("archive",email["isArchived"])}>{email["isArchived"]?<abbr title="unarchive"><i class="fa-solid fa-folder"></i></abbr>:<abbr title="archive"><i class="fa-solid fa-folder-open fa-xs"></i></abbr>}</div></div>}</div>
                </div>
                <div className={'card'} style={bodySection}>
                    <div style={subjectStyle}><h2>Subject: {email.subject}</h2></div>
                    {email["isToMeOnly"] && <div style={recipientsStyle}><h3>Sent To: {email.recipients}</h3></div> }
                    <div style={content}>
                        <div style={bodyStyleDiv}><h4><u>Content:</u></h4> <code style={bodyStyle}>{email.body}</code></div>
                    </div>
                </div>
            </div>
        )
    }
    ReactDOM.render(<Email/>,document.querySelector("#emailDesc"));
</script>
{% endblock body %}